.grey{
    background-color: #F9F9F9;
    width: 1098px;
}

.formInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inpGroup{
    width:419px;
    height:122px;
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
}
.label{
    margin-top:8px;
    color:#000;
    font-family:HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.input{
    font-family: HelveticaNeue;
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 371px;
    height: 48px;
    padding:13px 16px 14px; 
}
.desc{
    margin-top: 8px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}
.nameGroup{
    display: flex;
    flex-direction: row;
}